## Importing libraries

In [178]:
import pandas as pd
import numpy as np

### Reading the dataset

In [179]:
df = pd.read_csv('movie_dataset.csv')

In [180]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

### Creating a new dataset with specific columns

In [181]:
column_names = ['id','title', 'genres','popularity','vote_average','vote_count','overview']

In [182]:
df_new =  pd.DataFrame(data =  df, columns = column_names)

In [183]:
df_new.head()

,id,title,genres,popularity,vote_average,vote_count,overview
0,19995,Avatar,Action Adventure Fantasy Science Fiction,150.437577,7.2,11800,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,139.082615,6.9,4500,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,Action Adventure Crime,107.376788,6.3,4466,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,112.312950,7.6,9106,Following the death of District Attorney Harve...
4,49529,John Carter,Action Adventure Science Fiction,43.926995,6.1,2124,"John Carter is a war-weary, former military ca..."

### Filtering of DATA

In [184]:
vote_mean = df_new['vote_average'].mean()
print(vote_mean)

6.092171559442016

In [185]:
vote_quantile = df_new['vote_count'].quantile(0.8)
print(vote_quantile)

957.6000000000004

In [186]:
new_movies = df_new.copy().loc[df_new['vote_count']>=vote_quantile]

In [187]:
def movie(a,b=vote_mean,c=vote_quantile):
    x = a['vote_count']
    y = a['vote_average']
    return (x/(x+b)*y)+(b/(b+x)*c)

In [188]:
new_movies['score'] = new_movies.apply(movie,axis=1)

In [189]:
new_movies = new_movies.sort_values('score',ascending = False)

new_movies[['id','title','vote_count','vote_average','score']].head()

       id                        title  vote_count  vote_average      score
4081  582          The Lives of Others         958           7.9  13.901226
4017   76               Before Sunrise         959           7.7  13.696271
3813  770           Gone with the Wind         970           7.7  13.628696
1663  311  Once Upon a Time in America        1069           8.2  13.579918
3739  703                   Annie Hall        1010           7.8  13.494704

## Importing SKLEARN LIBRARIES

In [190]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### On basis of genres

In [191]:
vectorizer = CountVectorizer()
df_new['genres'] = df_new['genres'].fillna('')
Genres = vectorizer.fit_transform(df_new['genres'])

Genres.shape

(4803, 22)

In [192]:
y_genres = cosine_similarity(Genres,Genres)

In [193]:
### On basis of Overview

In [194]:
vectorizer1 = CountVectorizer()
df_new['overview'] = df_new['overview'].fillna('')
Overview = vectorizer1.fit_transform(df_new['overview'])

Overview.shape

(4803, 21262)

In [195]:
y_overview = cosine_similarity(Overview,Overview)

In [196]:
indices = pd.Series(df_new.index,index=df_new['title']).drop_duplicates()

### Creating the recomendation sytem

In [197]:
def recomendations_genres(title,value=y_genres):
    idex = indices[title]
    scores = list(enumerate(value[idex]))
    scores = sorted(scores,key=lambda x : x[1], reverse = True)
    scores = scores[1:51]

    movie = [i[0] for i in scores]

    return(df_new['title'].iloc[movie])

In [199]:
def recomendations_overview(title,value=y_overview):
    idex = indices[title]
    scores = list(enumerate(value[idex]))
    scores = sorted(scores,key=lambda x : x[1], reverse = True)
    scores = scores[1:51]

    movie = [i[0] for i in scores]

    return(df_new['title'].iloc[movie])

#### Getting user input

In [201]:
movie_name = input()
print("MOVIES ON BASIS OF GENRES")
print(recomendations_genres(movie_name))
print()
print()
print("MOVIES ON BASIS OF OVERVIEW")
print(recomendations_overview(movie_name))

MOVIES ON BASIS OF GENRES
10                               Superman Returns
14                                   Man of Steel
46                     X-Men: Days of Future Past
61                              Jupiter Ascending
232                                 The Wolverine
813                                      Superman
870                                   Superman II
3494    Beastmaster 2: Through the Portal of Time
72                                  Suicide Squad
168             Final Fantasy: The Spirits Within
238                  Teenage Mutant Ninja Turtles
322                             The Fifth Element
618                                   Mystery Men
1191                               Small Soldiers
1192                                        Spawn
1230                                   The Shadow
1296                                 Superman III
1390               Underworld: Rise of the Lycans
1652                         Dragonball Evolution
1932                                       Sheena
2163                                 The Covenant
3208              Star Wars: Clone Wars: Volume 1
4                                     John Carter
7                         Avengers: Age of Ultron
16                                   The Avengers
26                     Captain America: Civil War
31                                     Iron Man 3
35            Transformers: Revenge of the Fallen
36                Transformers: Age of Extinction
39                                   TRON: Legacy
47                        Star Trek Into Darkness
51                                    Pacific Rim
52                 Transformers: Dark of the Moon
56                               Star Trek Beyond
59                                           2012
68                                       Iron Man
79                                     Iron Man 2
85            Captain America: The Winter Soldier
91                   Independence Day: Resurgence
94                        Guardians of the Galaxy
101                            X-Men: First Class
102         The Hunger Games: Mockingjay - Part 2
111                                  Transformers
158                                     Star Trek
169            Captain America: The First Avenger
174                           The Incredible Hulk
182                                       Ant-Man
183               The Hunger Games: Catching Fire
193                                   After Earth
207                                  Total Recall
Name: title, dtype: object


MOVIES ON BASIS OF OVERVIEW
3604                                   Apollo 18
3192                               Two Evil Eyes
847                                     Semi-Pro
153         Mission: Impossible - Ghost Protocol
4111                                 Dinner Rush
420                  Hellboy II: The Golden Army
1517                                    Repo Men
3950                              Brave New Girl
1471                                       Ponyo
3899              Beneath the Planet of the Apes
311                 The Adventures of Pluto Nash
3665                        We Have Your Husband
187                                Puss in Boots
2160                                  Stay Alive
3052                         Dirty Pretty Things
4312             The Charge of the Light Brigade
1004                        The Boat That Rocked
85           Captain America: The Winter Soldier
1213                 Aliens vs Predator: Requiem
3364                                     Warlock
4321                  From a Whisper to a Scream
274                                    Gladiator
110                                 Pearl Harbor
2647                     The Midnight Meat Train
7                        Avengers: Age of Ultron
717                                 Jack Reacher
1984                   The Thief and the Cobbler
1086                         Aliens in the Attic
1110                       Underworld: Evolution
1456                              Bound by Honor
4644                             Teeth and Blood
1528                                    Criminal
2109                               Me Before You
2529                                   The Queen
2967                  E.T. the Extra-Terrestrial
48                         Jack the Giant Slayer
55                                         Brave
3396                            Hard to Be a God
4326                                    The Raid
387                                Air Force One
3311                       Thank You for Smoking
569     The SpongeBob Movie: Sponge Out of Water
3776                                     Samsara
678                                 Dragon Blade
15      The Chronicles of Narnia: Prince Caspian
3925                                     Whipped
156                             The Last Samurai
353                               Tropic Thunder
1513                               Transporter 2
300                            Starship Troopers
Name: title, dtype: object